<div class="grid mb-4">
  <div class="col-6">
    <div
      class="flex flex-column align-items-center justify-content-center"
      style="height: 50rem"
    >
      <h1 class="text-8xl">GAME<span class="text-yellow-900">QUEST</span></h1>
      <h2 class="text-3xl">
        <span class="mr-4">ENCUENTRA</span> VALORA
        <span class="ml-4">RECOMIENDA</span>
      </h2>
    </div>
  </div>
  <div class="col-6">
    <div class="flex flex-row mt-8">
      <div class="col-6 flex flex-column align-items-center">
        <h1>ENCUENTRA</h1>
        <h3 class="text-center">Tu proximo juego basado en la experiencia de otros jugadores</h3>
      </div>
      <div class="ml-4 col-6">
        <img
          style="max-width: 350px; border-radius: 10px"
          src="https://wallpapers.com/images/hd/nier-automata-2b-in-rooftop-9238yuzrul9bn045.webp"
          alt="Imagen de Nier Automata"
        />
      </div>
    </div>
    <div class="flex flex-row mt-8">
      <div class="col-6 flex flex-column align-items-center">
        <h1>COMPARTE</h1>
        <h3 class="text-center">
          Tus experiencias y ayuda a que otros jugadores se decidan a jugar ese
          juego que te sorprendio
        </h3>
      </div>
      <div class="ml-4 col-6">
        <img
          style="max-width: 350px; border-radius: 10px"
          src="https://wallpapers.com/images/hd/world-serpent-of-god-of-war-iexcn4u59wiro78f.webp"
          alt="Imagen de God of War"
        />
      </div>
    </div>
    <div class="flex flex-row mt-8">
      <div class="col-6 flex flex-column align-items-center">
        <h1>ENCUENTRA</h1>
        <h3 class="text-center">Tu proximo juego basado en la experiencia de otros jugadores</h3>
      </div>
      <div class="ml-4 col-6">
        <img
          style="max-width: 350px; border-radius: 10px"
          src="https://wallpapers.com/images/high/forza-motorsport-8j3kl8lwbutwd2re.webp"
          alt="Imagen de Forza Motorsport"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="w-full bg-green-700 flex align-items-center justify-content-center my-4"
  style="height: 10rem"
>
  <h1>ULTIMAS RESEÑAS</h1>
</div>

<div class="grid my-8">
  <div class="col-offset-1 flex flex-row flex-wrap gap-8">
    <!-- TODO: Hacer que estas 3 la informacion de estas 3 cartas
    Vengan de una consulta a la base de datos... -->
    <div class="card flex justify-content-center">
        <p-card header="Titulo del Juego" subheader="Valoracion General (0-10)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://wallpapers.com/images/high/forza-motorsport-ihs986byem2r1j0s.webp" />
            </ng-template>
            <p>
                Aqui va el ultimo comentario sobre el juego...
            </p>
            <ng-template pTemplate="footer">
                <p>Aqui podria ir las consolas en las que esta disponible...</p>
            </ng-template>
        </p-card>
    </div>
    <div class="card flex justify-content-center">
        <p-card header="Titulo del Juego" subheader="Valoracion General (0-10)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://wallpapers.com/images/high/forza-motorsport-ihs986byem2r1j0s.webp" />
            </ng-template>
            <p>
                Aqui va el ultimo comentario sobre el juego...
            </p>
            <ng-template pTemplate="footer">
                <p>Aqui podria ir las consolas en las que esta disponible...</p>
            </ng-template>
        </p-card>
    </div>
    <div class="card flex justify-content-center">
        <p-card header="Titulo del Juego" subheader="Valoracion General (0-10)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://wallpapers.com/images/high/forza-motorsport-ihs986byem2r1j0s.webp" />
            </ng-template>
            <p>
                Aqui va el ultimo comentario sobre el juego...
            </p>
            <ng-template pTemplate="footer">
                <p>Aqui podria ir las consolas en las que esta disponible...</p>
            </ng-template>
        </p-card>
    </div>
    <div class="card flex justify-content-center">
        <p-card header="Titulo del Juego" subheader="Valoracion General (0-10)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://wallpapers.com/images/high/forza-motorsport-ihs986byem2r1j0s.webp" />
            </ng-template>
            <p>
                Aqui va el ultimo comentario sobre el juego...
            </p>
            <ng-template pTemplate="footer">
                <p>Aqui podria ir las consolas en las que esta disponible...</p>
            </ng-template>
        </p-card>
    </div>
  </div>
</div>
